rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /pedidos/{pedidoId} {
      allow create, update, read: if true;
      allow delete: if false;
    }

    match /cumbuca_entregas_pedidos/{pedidoId} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}